---
import Layout from "../layouts/Layout.astro";
import { Support } from "@/ui/support";
import ContactForm from "@/ui/contact-form";
import { Toaster } from "@/components/ui/toaster"
---

<Layout title="FinData: Contáctanos">
    <main class="w-full min-h-[calc(100vh-2.5rem-3rem)] flex flex-col">
        <div
            class="flex items-center justify-between space-y-2 mb-4 md:mb-2 mb:mt-2"
        >
            <a
                href="/"
                class="text-white/50 hover:text-white transition-colors"
            >
                <h2 class="text-2xl font-bold tracking-tight">FinData</h2>
            </a>
            <Support client:load />
        </div>
        <div class="flex items-center justify-center flex-1 pt-3 pb-4">
            <ContactForm client:load />
        </div>
    </main>
    <Toaster client:load/>
</Layout>
