---
import Gradient from "../components/Gradient.astro";
import Layout from "../layouts/Layout.astro";
import Content from "../ui/content";
---

<Layout title="Simulador de Interes EA (Efectivo Anual)">
    <main class="h-screen w-screen bg-gray-900 overflow-hidden">
        <div
            class="relative isolate w-full h-full flex flex-col items-center justify-center p-4 pt-10"
        >
            <Gradient />
           <Content client:load />
        </div>
    </main>
</Layout>