---
import Content from "@/components/content";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Support } from "@/ui/support";
---

<Layout title="FinData: Herramientas Financieras">
    <main class="w-full">
        <div class="flex items-center justify-between space-y-2">
            <h2 class="text-3xl font-bold tracking-tight">FinData</h2>
            <div class="flex items-center space-x-2">
                <Support client:load>
            </div>
        </div>
        <Content client:load />
    </main>
</Layout>
@/ui/support