---
import IndexContent from "@/components/index";
import Layout from "../layouts/Layout.astro";
import { Support } from "@/ui/support";
---

<Layout title="FinData: Herramientas Financieras">
    <main class="w-full">
        <div class="flex items-center justify-between space-y-2 md:mt-2">
            <a href="/">
                <h2 class="text-3xl font-bold tracking-tight">FinData</h2>
            </a>
            <Support client:load />
        </div>
        <IndexContent client:load />
    </main>
    <script src="https://findata.statuspage.io/embed/script.js"></script>
</Layout>
